{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block bodyType %}<body class="sub_page">{% endblock %}

{% block content %}

 </div>

  <!-- Prochaines sessions -->
  <section class="infos-formations"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-12" data-aos="fade-right">
          <h1 class="mt-5 mb-5">
            <i class="fa-solid fa-graduation-cap"></i> Les formations...
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12" data-aos="fade-up">
        
           <p>
                Les formations sont construites sur mesure et peuvent être organisées à la demande.
           </p>
           <p>
                Elles se veulent dynamiques et participatives. De nombreux exercices sont proposés pour que les participants puissent intégrer les nombreuses notions.
           </p>
           <p>
                Voici quelques exemples de formations déjà dispensées ces dernières années auprès de différents organismes:
           </p>

            <div class="card">
                <div class="card-body">
                    <ul class="formations">
                            <li><i class="fa-solid fa-chalkboard-user"></i> Ralentir quand tout va trop vite - Apprendre à lâcher prise facilement et retrouver sa sérénité.</li>
                            <li><i class="fa-solid fa-chalkboard-user"></i> Se ressourcer au travers du journal créatif® pour prendre soin de soi et éviter l’épuisement professionnel.</li>
                            <li><i class="fa-solid fa-chalkboard-user"></i> Initiation à la science du bonheur: La psychologie positive pour optimiser les bienfaits des prises en charges existantes.</li>
                            <li><i class="fa-solid fa-chalkboard-user"></i> Le journal créatif® au service du bien-être et des apprentissages.</li>
                            <li><i class="fa-solid fa-chalkboard-user"></i> La pédagogie positive au service des apprentissages.</li>
                            <li><i class="fa-solid fa-chalkboard-user"></i> Le bien-être des élèves: Favoriser une gestion pacifiée des relations au sein de la classe.</li>
                            <li><i class="fa-solid fa-chalkboard-user"></i> Le journal créatif® comme outil au service du PECA (Parcours d'éducation culturelle et artistique).</li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin prochaines sessions -->


{% endblock %}



