{% extends 'admin/admin_base.html.twig' %}

{% block title %}Modifier une localisation{% endblock %}

{% block pageTitle %}Modifier une localisation{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">

                    {{ include('admin/workshop_location/_form.html.twig', {'button_label': 'Modifier'}) }}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
